<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="endpoint" value="https://[SOME-COSMOS-ENDPOINT].documents.azure.com:443" />
    <add key="key" value="[SOME-COSMOS-KEY]" />
    <add key="database" value="graphdb" />
    <add key="graph" value="user-connections" />
  </appSettings>
</configuration>